In [1]:
#DICTIONARY

numNames={1:"One",2:"Two",3:"Three",1:"Two"}
print(numNames)

{1: 'Two', 2: 'Two', 3: 'Three'}

In [2]:
#MAKING DICTIONARY USING dict()

numdict=dict(I="one",II="two",III="three")
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [33]:
#DICTIONARY IN TUPLE FORMAT

numdict=dict((('I','one'),('II','two'),('III','three')))
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

In [4]:
#ACCESSING THE DICTIONARY

d={1:"One",2:"Two",3:"Three"}
print(d[1],d[2],d[3])

One Two Three

In [12]:
capitals={"USA":"Washington DC", "France":"Paris","India":"New Delhi"}
print(capitals["USA"],capitals["India"])

Washington DC New Delhi

In [13]:
#USING get() IN DICTIONARY

n={1:"one",2:"two",3:"three"}
print(n.get(1),n.get(2),n.get(3))

one two three

In [14]:
#USING get() IN DICTIONARY

n={1:"one",2:"two",3:"three"}
print(n.get(4),n.get(2),n.get(3))

None two three

In [21]:
#TYPES OF ACCESSING DICTIONARY

d={"name":"Anuj","age":20,"city":"New Delhi"}
print(d)
print(d.values())
print(d.keys())
print(d.items())

{'name': 'Anuj', 'age': 20, 'city': 'New Delhi'}
dict_values(['Anuj', 20, 'New Delhi'])
dict_keys(['name', 'age', 'city'])
dict_items([('name', 'Anuj'), ('age', 20), ('city', 'New Delhi')])

In [27]:
d={"name":"Anuj","age":20,"city":"New Delhi"}
for i in d:
    print(i)

name
age
city

In [28]:
d={"name":"Anuj","age":20,"city":"New Delhi"}
for i,j in d.items():
    print(i,"-->",j)

name --> Anuj
age --> 20
city --> New Delhi

In [29]:
d={"name":"Anuj","age":20,"city":"New Delhi"}
for i in d.values():
    print(i)

Anuj
20
New Delhi

In [30]:
#UPDATE THE VALUE OF KEYS

captains={"India":"Dhoni","England":"Root","Australia":"Smith"}
print(captains)

captains['India']='Virat'
captains['Australia']='Paine'
print(captains)

{'India': 'Dhoni', 'England': 'Root', 'Australia': 'Smith'}
{'India': 'Virat', 'England': 'Root', 'Australia': 'Paine'}

In [31]:
#ASSIGNING NEW VALUES TO DICTIONARY

captains={"India":"Dhoni","England":"Root","Australia":"Smith"}
print(captains)
captains['South Africa']='Plessis'
print(captains)

{'India': 'Dhoni', 'England': 'Root', 'Australia': 'Smith'}
{'India': 'Dhoni', 'England': 'Root', 'Australia': 'Smith', 'South Africa': 'Plessis'}

In [35]:
#DELETING VALUES IN DICTIONARY USING del

captains={"India":"Dhoni","England":"Root","Australia":"Smith"}
print(captains)

del captains['Australia']
print(captains)

{'India': 'Dhoni', 'England': 'Root', 'Australia': 'Smith'}
{'India': 'Dhoni', 'England': 'Root'}

In [37]:
#DELETING VALUES IN DICTIONARY USING popitem()

captains={"India":"Dhoni","England":"Root","Australia":"Smith"}
print(captains)
captains.popitem()
print(captains)
captains.popitem()
print(captains)
captains.popitem()
print(captains)

{'India': 'Dhoni', 'England': 'Root', 'Australia': 'Smith'}
{'India': 'Dhoni', 'England': 'Root'}
{'India': 'Dhoni'}
{}

In [1]:
#NESTED DICTIONARY

d1={"name":"Steve","age":25,"marks":60}
d2={"name":"Anil","age":23,"marks":75}
d3={"name":"Asha","age":20,"marks":70}

students={1:d1,2:d2,3:d3}
print(students)

{1: {'name': 'Steve', 'age': 25, 'marks': 60}, 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

In [4]:
print(students[1])
print(students[2])
print(students[3])

{'name': 'Steve', 'age': 25, 'marks': 60}
{'name': 'Anil', 'age': 23, 'marks': 75}
{'name': 'Asha', 'age': 20, 'marks': 70}

In [6]:
#USING clear() IN DICTIONARY

romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
print("Dictionary: ",romanNums)
romanNums.clear()
print("Dictionary after calling clear() method: ",romanNums)

Dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Dictionary after calling clear() method:  {}

In [7]:
#USING copy() IN DICTIONARY

romanNums={'I':1,'II':2,'III':3,'IV':4,'V':5}
newRomanNums=romanNums.copy()
print("Original dictionary: ",romanNums)
print("Copied dictionary: ",newRomanNums)

Original dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}
Copied dictionary:  {'I': 1, 'II': 2, 'III': 3, 'IV': 4, 'V': 5}

In [8]:
#USING fromkeys()  IN DICTIONARY

keys={'Mumbai','Bangalore','Chicago','New York'}
value='city'
dictionary=dict.fromkeys(keys,value)
print(dictionary)

{'Mumbai': 'city', 'Bangalore': 'city', 'Chicago': 'city', 'New York': 'city'}

In [10]:
#USING fromkeys()  IN DICTIONARY

keys={'Mumbai','Bangalore','Chicago','New York'}
value='city'
dictionary=dict.fromkeys(keys)
print(dictionary)

{'Mumbai': None, 'Bangalore': None, 'Chicago': None, 'New York': None}

In [11]:
chDict=dict.fromkeys('Hello','char')
chDict

{'H': 'char', 'e': 'char', 'l': 'char', 'o': 'char'}

In [12]:
romanNums={'I':1,'II':2,'III':3,'IV':4}
dictview=romanNums.items()
dictview

dict_items([('I', 1), ('II', 2), ('III', 3), ('IV', 4)])

In [13]:
romanNums={'I':1,'II':2,'III':3,'IV':4}
dictview=romanNums.keys()
dictview

dict_keys(['I', 'II', 'III', 'IV'])

In [14]:
romanNums={'I':1,'II':2,'III':3,'IV':4}
dictview=romanNums.values()
dictview

dict_values([1, 2, 3, 4])

In [22]:
#USING POP IN DICTIONARY

romanNums={'I':1,'II':2,'III':3,'IV':4}
deletedValue=romanNums.pop('IV')
print("The popped value is: ",deletedValue)
print("Updated Dictionary: ",romanNums)
deletedValue=romanNums.pop('III')
print("The popped value is: ",deletedValue)
print("Updated Dictionary: ",romanNums)
deletedValue=romanNums.pop('VI','WRONG INPUT')
print("The popped value is: ",deletedValue)
print("Updated Dictionary: ",romanNums)

The popped value is:  4
Updated Dictionary:  {'I': 1, 'II': 2, 'III': 3}
The popped value is:  3
Updated Dictionary:  {'I': 1, 'II': 2}
The popped value is:  WRONG INPUT
Updated Dictionary:  {'I': 1, 'II': 2}

In [24]:
#USING update() METHOD IN DICTIONARY

romanNums={'I':1,'III':3,'V':5}
print("Dictionary: ",romanNums)

evenRomanNums={'II':2,'IV':4}
romanNums.update(evenRomanNums)
print("Updated Dictionary: ",romanNums)

Dictionary:  {'I': 1, 'III': 3, 'V': 5}
Updated Dictionary:  {'I': 1, 'III': 3, 'V': 5, 'II': 2, 'IV': 4}