In [1]:
#FUNCTIONS

In [2]:
def addition():
    a=int(input("Enter th value of A: "))
    b=int(input("Enter th value of B: "))
    c=a+b
    print("The sum is: ",c)

In [3]:
addition()

Enter th value of A:  7
Enter th value of B:  7

The sum is:  14

In [4]:
addition()

Enter th value of A:  7
Enter th value of B:  7

The sum is:  14

In [7]:
def simple_interest():
    p=int(input("Enter th principle amount: "))
    r=float(input("Enter the interest rate: "))
    t=int(input("Enter th time: "))
    si=(p*r*t)/100
    print("The simple interest is: ",si)

In [8]:
simple_interest()

Enter th principle amount:  100000
Enter the interest rate:  2.0
Enter th time:  4

The simple interest is:  8000.0

In [11]:
def average():
    a=int(input("Enter th value of A: "))
    b=int(input("Enter th value of B: "))
    c=int(input("Enter th value of C: "))
    avg=(a+b+c)/3
    print("The avarage is: ",avg)

In [12]:
average()

Enter th value of A:  7
Enter th value of B:  8
Enter th value of C:  9

The avarage is:  8.0

In [16]:
def percentage():
    m=int(input("Enter the marks of MATH: "))
    e=int(input("Enter the marks of ENGLISH: "))
    h=int(input("Enter the marks of HINDI: "))
    s=int(input("Enter the marks of Science: "))
    sst=int(input("Enter the marks of SST: "))
    sum=m+e+h+s+sst
    per=sum*100/500
    print("The percentage is: ",per,"%")

In [19]:
percentage()

Enter the marks of MATH:  98
Enter the marks of ENGLISH:  98
Enter the marks of HINDI:  98
Enter the marks of Science:  98
Enter the marks of SST:  98

The percentage is:  98.0 %

In [20]:
def even_odd():
    n=int(input("Enter a number: "))
    if n%2==0:
        print("The number is EVEN")
    else:
        print("The number is ODD")

In [21]:
even_odd()

Enter a number:  56

The number is EVEN

In [22]:
def vote():
    n=int(input("Enter your age: "))
    if n>=18:
        print("You are eligible to vote")
    else:
        print("You are not eligible to vote")

In [28]:
vote()

Enter your age:  19

You are eligible to vote

In [1]:
#ARGUMENT FUNCTION

In [2]:
def addition(a,b):
    c=a+b
    print("The sum is ",c)

In [3]:
addition(23,34)

The sum is  57

In [4]:
x=int(input())
y=int(input())
addition(x,y)

 48
 15

The sum is  63

In [5]:
#AVERAGE OF 3 NUMBERS

def average(a,b,c):
    avg=(a+b+c)/3
    print("The average of 3 numbers is ",avg)

In [6]:
average(55,48,76)

The average of 3 numbers is  59.666666666666664

In [7]:
x=int(input())
y=int(input())
z=int(input())
average(x,y,z)

 10
 20
 30

The average of 3 numbers is  20.0

In [10]:
#ODD EVEN NUMBERS

def odd_even(a):
    if a%2==0:
        print(a," is an even number")
    else:
        print(a," is an odd  number")

In [11]:
odd_even(9)

9  is an odd  number

In [12]:
# FIND THE GREATEST NUMBER

def greatest(a,b,c):
    if a>b:
        if a>c:
            print(a," is greatest")
        else:
            print(c,"is greatest")
    else:
        if b>c:
            print(b," is greatest")
        else:
            print(c,"is greatest")

In [13]:
greatest(45,456,95)

456  is greatest

In [16]:
#FACTORIAL

def factorial(n):
    i=1
    while n>0:
        i=i*n
        n=n-1
    print("The factorial is ",i)

In [20]:
factorial(7)

The factorial is  5040

In [22]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print("Reverse number is: ",rev)

In [23]:
reverse(1453)

Reverse number is:  3541

In [24]:
# RETURN TYPE FUNCTION

In [27]:
def factorial(n):
    f=1
    while n>0:
        f=f*n
        n=n-1
    return f

x=factorial(7)
print(x)
print(factorial(8))

5040
40320

In [28]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    return rev

x=reverse(1534464)
print(x)

4644351

In [32]:
def all(a,b):
    return a+b,a-b,a*b,a/b

x,y,z,w=all(45,45)
print("Sum is: ",x)
print("Sub is: ",y)
print("Mul is: ",z)
print("Div is: ",w)

Sum is:  90
Sub is:  0
Mul is:  2025
Div is:  1.0

In [35]:
def addition(a,b=200,c=300):
    return a+b+c

print(addition(700))
print(addition(500,500))
print(addition(400,500,900))

1200
1300
1800

In [1]:
def datascience(a,b,c,d,e):
    return(a+b,a*b)

In [3]:
datascience(2,7,4,8,6)

(9, 14)

In [4]:
def sum(r,t,u):
    return r+t+u

ann=sum(456554,4864,486454)
ann

947872

In [5]:
def hello(a,b):
    return ("My name is {} and gender is {}".format(a,b))

In [6]:
a=hello("Anuj","male")

In [7]:
a

'My name is Anuj and gender is male'

In [8]:
print("{} and {}".format("Hii","Bye"))

Hii and Bye

In [10]:
def addition(a,b=700,c=600):
    return a+b+c
print(addition(300))
print(addition(a=400,c=500))
print(addition(100,2000,3000))

1600
1600
5100

In [11]:
def hello(name,age=20,gender="male"):
    return("My name is {} and age is {} and gender is {}".format(name,age,gender))

In [12]:
hello("ANUJ")

'My name is ANUJ and age is 20 and gender is male'

In [13]:
u=[1,2,3]

In [14]:
u

[1, 2, 3]

In [15]:
print(*u)

1 2 3

In [16]:
a,*b,c=[1,2,3,4,5,6,7,8,9,26,15,84]

In [17]:
a

1

In [18]:
c

84

In [19]:
b

[2, 3, 4, 5, 6, 7, 8, 9, 26, 15]

In [20]:
print(*b)

2 3 4 5 6 7 8 9 26 15

In [33]:
A=[1,2,3]
B=[4,5,6]
C=[A,B]
C

[[1, 2, 3], [4, 5, 6]]

In [28]:
D=[*A,*B]
D

[1, 2, 3, 4, 5, 6]

In [29]:
print(*D)

1 2 3 4 5 6

In [30]:
A+B

[1, 2, 3, 4, 5, 6]

In [34]:
A.extend(B)
A

[1, 2, 3, 4, 5, 6]

In [37]:
a=[*"realpython"]
print(a)

b=list("realpython")
b

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

['r', 'e', 'a', 'l', 'p', 'y', 't', 'h', 'o', 'n']

In [42]:
d1={1:"one",2:"two"}
d2={3:"three",4:"four"}
d1.update(d2)
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [47]:
#UNPACKING DICTIONARY USING **

d1={1:"one",2:"two"}
d2={3:"three",4:"four"}
d3={**d1,**d2}
print(d3)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [48]:
def my_sum(a,b,c,d,e):
    return(a+b+c+d+e)

In [49]:
mylist=[1,2,3,4,5]

In [51]:
my_sum(*mylist)

15

In [52]:
def my_sum(*a):
    result=0
    for i in a:
        result += i
    return result

In [54]:
list1=[1,2,3]
list2=[4,5]
list3=[6,7,8,9]

my_sum(*list1,*list2,*list3)

45