In [1]:
#LIST TYPES

# ls=[12,85,29,45,83]#list of integers
# ls=['a','e','i','o','u']#list of character or string
# ls==[12.56,45.89]#list of float

In [2]:
# LIST CONSTRUCTOR

ls=list("hello")
ls

['h', 'e', 'l', 'l', 'o']

In [3]:
ls=list((12,23,3,4))
ls

[12, 23, 3, 4]

In [4]:
#ACCESSING OF LIST ELEMENTS

ls=[11,22,33,44,55,66,77,88,99]
ls[-5]

55

In [5]:
#NESTED LIST

ls=[12,23,34,45,[67,78,89,[98,87,76]],65,[54]]
print(ls[4][3][1])

87

In [6]:
ls=[12,23,34,[45,56,78,[89,98,87,[76,65,54,[43,32,21]]]]]
ls[3][3][3][3][2]

21

In [7]:
# UPDATION OR CHANGING AN ELEMENT IN LIST

ls=[12,23,34,45,56,67]
print(ls)
ls[2]="hello"
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 'hello', 45, 56, 67]

In [8]:
#SLICE OPERATION

ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls[3:8])
print(ls[:8])
print(ls[3:])
print(ls[:])

[45, 56, 67, 78, 89]
[12, 23, 34, 45, 56, 67, 78, 89]
[45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]

In [9]:
#UPDATION USING SLICE OPERATION

ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls)
ls[5:8]=("I","AM","FINE")
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 45, 56, 'I', 'AM', 'FINE', 98, 87, 76, 65, 43, 32, 21, 10]

In [10]:
ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls[3:16:2])

[45, 67, 89, 87, 65, 32, 10]

In [11]:
ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls[-1:-9:-1])
print(ls[::-1])

[10, 21, 32, 43, 65, 76, 87, 98]
[10, 21, 32, 43, 65, 76, 87, 98, 89, 78, 67, 56, 45, 34, 23, 12]

In [12]:
#USING DEL TO DELETE ELEMENT

ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls)
del ls[5:8]
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 45, 56, 98, 87, 76, 65, 43, 32, 21, 10]

In [13]:
#USING POP TO DELETE ELEMENT

ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls)
ls.pop(4)
print(ls)
ls.pop()
print(ls)
ls.pop()
print(ls)
ls.pop()
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 45, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 45, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21]
[12, 23, 34, 45, 67, 78, 89, 98, 87, 76, 65, 43, 32]
[12, 23, 34, 45, 67, 78, 89, 98, 87, 76, 65, 43]

In [14]:
#USING REMOVE TO DELETE ELEMENT

ls=[12,23,34,45,56,67,78,89,98,87,76,65,43,32,21,10]
print(ls)
ls.remove(45)
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]
[12, 23, 34, 56, 67, 78, 89, 98, 87, 76, 65, 43, 32, 21, 10]

In [15]:
# USING APPEND IN LIST

ls=[12,23,34,45,56,67,78]
print(ls)
ls.append(87)
print(ls)

[12, 23, 34, 45, 56, 67, 78]
[12, 23, 34, 45, 56, 67, 78, 87]

In [16]:
ls=[12,23,34,45,56,67,78]
print(ls)
ls.append([87,"hello","Anuj"])
print(ls)

[12, 23, 34, 45, 56, 67, 78]
[12, 23, 34, 45, 56, 67, 78, [87, 'hello', 'Anuj']]

In [17]:
#  MAKE A LIST BY GIVING ELEMENTS ONE BY ONE

ls=[]
for i in range(10):
    n=int(input("Enter a number "))
    ls.append(n)
print(ls)

Enter a number  1
Enter a number  2
Enter a number  3
Enter a number  4
Enter a number  5
Enter a number  6
Enter a number  7
Enter a number  8
Enter a number  9
Enter a number  0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [18]:
# SEPERATE ODD AND EVEN NUMBERS FROM A LIST

ls=[]
lse=[]
lso=[]
for i in range(10):
    n=int(input("Enter a number "))
    ls.append(n)
for i in ls:
    if i%2==0:
        lse.append(i)
    else:
        lso.append(i)
print("Original list is ",ls)
print("Even numbers are ",lse)
print("Odd numbers are ",lso)

Enter a number  1
Enter a number  2
Enter a number  3
Enter a number  4
Enter a number  4
Enter a number  5
Enter a number  6
Enter a number  6
Enter a number  7
Enter a number  8

Original list is  [1, 2, 3, 4, 4, 5, 6, 6, 7, 8]
Even numbers are  [2, 4, 4, 6, 6, 8]
Odd numbers are  [1, 3, 5, 7]

In [19]:
# FIND LARGEST NUMBER IN A LIST

ls=[]
for i in range(5):
    print("Enter ",i+1,"number ")
    n=int(input())
    ls.append(n)
print(ls)
print("The Largest number is ",max(ls))

Enter  1 number

 10

Enter  2 number

 3980

Enter  3 number

 354565

Enter  4 number

 456

Enter  5 number

 596

[10, 3980, 354565, 456, 596]
The Largest number is  354565

In [20]:
ls=[]
for i in range(5):
    n=int(input("Enter a number "))
    ls.append(n)
print("The list is ",ls)

m=ls[0]

for i in ls:
    if i>m:
        m=i
print("Largest number is ",m)

Enter a number  48664
Enter a number  4
Enter a number  486
Enter a number  4
Enter a number  864

The list is  [48664, 4, 486, 4, 864]
Largest number is  48664

In [21]:
#TO FIND THE SMALLEST ELEMENT IN A LIST (USING MIN)

ls=[]
for i in range(5):
    n=int(input("Enter a number "))
    ls.append(n)
print("The list is ",ls)
print("The minimum number is " ,min(ls))

Enter a number  5
Enter a number  56
Enter a number  564
Enter a number  98
Enter a number  6

The list is  [5, 56, 564, 98, 6]
The minimum number is  5

In [25]:
ls=[]
for i in range(5):
    n=int(input("Enter a number "))
    ls.append(n)
print("The list is ",ls)

mi=ls[0]

for i in ls:
    if mi>i:
        mi=i
print("The smallest number is ",mi)

Enter a number  621
Enter a number  9
Enter a number  464
Enter a number  4
Enter a number  498

The list is  [621, 9, 464, 4, 498]
The smallest number is  4

In [24]:
ls=[]
cg=0
cs=0
ce=0
for i in range(10):
    n=int(input("Enter a number "))
    ls.append(n)
print("The list is ",ls)

c=int(input("Enter a number for comparision "))
for i in ls:
    if i>c:
        cg=cg+1
    elif i<c:
        cs=cs+1
    else:
        ce=ce+1
print("There are ",cg,"numbers greater, ",cs,"numbers smaller and ",ce,"numbers equal")

Enter a number  98
Enter a number  2
Enter a number  98
Enter a number  232
Enter a number  94
Enter a number  6
Enter a number  2695
Enter a number  15
Enter a number  4565
Enter a number  4

The list is  [98, 2, 98, 232, 94, 6, 2695, 15, 4565, 4]

Enter a number for comparision  984

There are  2 numbers greater,  8 numbers smaller and  0 numbers equal

In [26]:
# FIND THE OCCURANCE OF A NUMBER IN A LIST WITH POSITION

ls=[]
for i in range(10):
    n=int(input("Enter a number "))
    ls.append(n)
print("The list is ",ls)

co=0
n1=int(input("Enter the number to be searched "))
for i in range(len(ls)):
    if n1==ls[i]:
        co=co+1
        if co>0:
            print(n1," is found at ",i+1," position")
print(n1," is repeated ",co," times in the list")

Enter a number  4
Enter a number  464
Enter a number  48
Enter a number  16
Enter a number  49
Enter a number  16
Enter a number  9
Enter a number  6
Enter a number  9
Enter a number  612

The list is  [4, 464, 48, 16, 49, 16, 9, 6, 9, 612]

Enter the number to be searched  9

9  is found at  7  position
9  is found at  9  position
9  is repeated  2  times in the list

In [27]:
# USING EXTEND IN LIST TO ADD ELEMENT

ls=[31,456,54,345,35,35,345,45,456,45,]
print(ls)
ls.extend((95,56,198,9))
print(ls)

[31, 456, 54, 345, 35, 35, 345, 45, 456, 45]
[31, 456, 54, 345, 35, 35, 345, 45, 456, 45, 95, 56, 198, 9]

In [28]:
ls=[12,23,34,45]
ls2=["I","AM","FINE"]
ls3=["HOW","ARE","YOU"]
ls.extend((*ls2,*ls3))
print(ls)

[12, 23, 34, 45, 'I', 'AM', 'FINE', 'HOW', 'ARE', 'YOU']

In [29]:
#USING 'INSERT' TO INSERT AN ELEMENT IN A LIST

ls=[12,23,34,45,56,67]
print(ls)
ls.insert(3,"ANUJ")
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'ANUJ', 45, 56, 67]

In [30]:
# USING 'CLEAR' TO REMOVE ELEMENTS OF A LIST

ls=[12,23,34,45,56,67]
print(ls)
ls.clear()
print(ls)

[12, 23, 34, 45, 56, 67]
[]

In [31]:
#USING 'COUNT' TO COUNT THE OCCURANCE OF AN ELEMENT IN A LIST

ls=[12,23,34,45,56,67,23]
print(ls)
x=ls.count(23)
print(x)

[12, 23, 34, 45, 56, 67, 23]
2

In [32]:
#USING 'INDEX' TO FIND FIRST OCCURANCE OF AN ELEMENT IN A LIST

ls=[12,23,34,45,56,67,23]
print(ls)
x=ls.index(34)
print(x)

[12, 23, 34, 45, 56, 67, 23]
2

In [33]:
#USING 'REVERSE' TO REVERSE THE ORDER OF THE LIST

ls=[12,23,34,45,56,67]
print(ls)
ls.reverse()
print(ls)

[12, 23, 34, 45, 56, 67]
[67, 56, 45, 34, 23, 12]

In [34]:
#USING SORT TO PRINT THE LIST IN ASCENDING ORDER

ls=[4556,7,8431,846,78,231,98,84,15,98,564,1,847,8,456]
print(ls)
ls.sort()
print(ls)

[4556, 7, 8431, 846, 78, 231, 98, 84, 15, 98, 564, 1, 847, 8, 456]
[1, 7, 8, 15, 78, 84, 98, 98, 231, 456, 564, 846, 847, 4556, 8431]

In [35]:
#USING SORT TO PRINT THE LIST IN DECENDING ORDER

ls=[4556,7,8431,846,78,231,98,84,15,98,564,1,847,8,456]
print(ls)
ls.sort(reverse=True)
print(ls)

[4556, 7, 8431, 846, 78, 231, 98, 84, 15, 98, 564, 1, 847, 8, 456]
[8431, 4556, 847, 846, 564, 456, 231, 98, 98, 84, 78, 15, 8, 7, 1]

In [36]:
#USING "=" TO MAKE A COPY OF A LIST

ls=[78,45,456,56,7]
ls1=ls
print(ls)
print(ls1)
ls[2]="ANUJ"
print(ls)
print(ls1)

[78, 45, 456, 56, 7]
[78, 45, 456, 56, 7]
[78, 45, 'ANUJ', 56, 7]
[78, 45, 'ANUJ', 56, 7]

In [37]:
#USING 'COPY' TO MAKE A COPY OF A LIST

ls=[78,45,456,56,7]
ls1=ls.copy()
print(ls)
print(ls1)
ls[2]="ANUJ"
print(ls)
print(ls1)

[78, 45, 456, 56, 7]
[78, 45, 456, 56, 7]
[78, 45, 'ANUJ', 56, 7]
[78, 45, 456, 56, 7]

In [38]:
l=["Anuj"]
l*2

['Anuj', 'Anuj']

In [39]:
for i in range(1,11):
    if i==5:
        break
    print(i,end=" ")

1 2 3 4

In [40]:
for i in range(1,11):
    if i<=5:
        continue
    print(i,end=" ")

6 7 8 9 10

In [41]:
for i in range(1,11):
    if i==5:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [42]:
for i in range(1,11):
    if i==5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [43]:
a="Anuj"
for i in a:
    if i=="u":
        continue
        print("hello")
    else:
        print(i)

A
n
j

In [44]:
s='suraj'
for val in s:
    if val=="r":
        break
    print(val)

s
u