In [10]:
#PACKING OF TUPLE

t1=12,23,34,45,56
a,b,c,d,e=t1  #UNPACKING A TUPLE
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
34
45
56

In [11]:
t2=(12)
print(type(t2))

<class 'int'>

In [12]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [13]:
#ACCESSING TUPLE

t1=(12,23,34,45,56,67)
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

12
45
67
56

In [14]:
#UPDATING IN TUPLE

t1=(12,23,34,45)
t2=("how","are")
print(t1+t2)

(12, 23, 34, 45, 'how', 'are')

In [15]:
# index() METHOD IN TUPLE

t1=(12,23,34,45,56,23,67)
print(t1)
x=t1.index(23)
print(x)

(12, 23, 34, 45, 56, 23, 67)
1

In [16]:
#ADDING ELEMENT IN TUPLE

t1=(1,2,3,4,5,6,7)
ls=list(t1)
ls.append(8)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [23]:
#UPDATING ELEMENT IN TUPLE

t1=(1,2,3,4,5,6,7)
ls=list(t1)
ls[2]="Hello"
t1=tuple(ls)
print(t1)

(1, 2, 'Hello', 4, 5, 6, 7)

In [24]:
#DELETING WHOLE TUPLE IS POSSIBLE

del t1
print(t1)

(1, 2, 'Hello', 4, 5, 6, 7)

In [25]:
emp={'steve',0,10.5,True}
print(emp)

{0, True, 'steve', 10.5}

In [26]:
nums={1,2,2,3,4,4,5,5}
nums

{1, 2, 3, 4, 5}

In [27]:
myset={(10,10),10,20}
myset

{(10, 10), 10, 20}